{% set title = 'php урок 3' %}

{% extends "../layouts/app.twig" %}

{% block content %}
    <h1 class="mt-4">Подсказки</h1>

    <!-- tips/idea-gitignore -->
    <h2>Удаляем из Git папку .idea</h2>

    <h3>Запись существует в файле .gitignore</h3>
    <pre>
// Удалим все проиндексированные файлы:
git rm .idea/ -r --cached

// Запустим индексацию заново:
git add -u .idea/

        // Добавляем коммит и пушим:
git commit -m "Removed the .idea folder"
git push
    </pre>

    <h3>С добавлением записи .idea в файл .gitignore</h3>
    <pre>
// Добавим файл .gitignore в корень проекта:
echo '.idea' >> .gitignore

        // Удалим все проиндексированные файлы:
git rm -r --cached .idea

git add .gitignore

        // Добавляем коммит и пушим:
git commit -m 'Added .idea to ignored entries'
git push
    </pre>
{% endblock %}
