{% set title = 'Внедрение зависимостей в Php' %}

{% extends "../layouts/app.twig" %}

{% block content %}
    <h1 class="mt-4">{{ title }}.</h1>

    Есть три основных способа внедрить ваши зависимости в класс:

    - конструктор,
    <pre>


        </pre>
    - сеттер
    <pre>
        </pre>
    - поле
    <pre>
        </pre>

    <div class="formatted_content">
        <pre>
        </pre>
    </div>

    Команда Spring главным образом выступает за инъекцию через сеттеры, потому что большое количество аргументов конструктора может стать громоздким, особенно если свойства являются необязательными. Сеттеры также делают объекты этого класса пригодными для реконфигурации или повторной инъекции позже. Управление через JMX MBeans является ярким примером

    Некоторые пуристы предпочитают инъекцию на основе конструктора. Предоставление всех зависимостей означает, что объект всегда возвращается в вызывающий код в полностью инициализированном состоянии. Недостатком является то, что объект становится менее поддающимся реконфигурации и повторной инъекции
{% endblock %}
