{% set title = 'Внедрение зависимостей в Php' %}

{% extends "../layouts/app.twig" %}

{% block content %}
    <h1 class="mt-4">{{ title }}.</h1>

    <div class="formatted_content">
        <pre>
        </pre>
    </div>
{% endblock %}
