{% set title = 'php урок 4' %}

{% extends "../layouts/app.twig" %}

{% block content %}
    <h1 class="mt-4">{{ title }}. Строки (как массив символов)</h1>

    <pre>Это последовательный набор символов, который является одним целым, но при этом имеется доступ к символам, входящим в этот набор. Строки в php, как правило, не используют для вычислений, а служат для передачи смысловой нагрузки.

Важно понимать:
$array = <strong>['Р', 'а', 'б', 'о', 'т', 'а', 'е', 'м', ' ', 'с', 'о', 'с', 'т', 'р', 'оками в Php']</strong>;
$string = 'Работаем со строками в Php';

Это $array и $string разный переменные.

Задание:
Создайте файл
src/Models/Article.php

В файле создайте 4 переменных:
<strong>- </strong>id либое целое положительное число
<strong>- </strong>title текст длиной не более 255 символов
<strong>- </strong>description длиной не более 4000 символов
<strong>- </strong>comments пустой массив</pre>

{% endblock %}
