{% set title = 'Разбираемся что такое Model, а что View' %}

{% extends "../layouts/app.twig" %}


{% block content %}
    <style>
        pre {overflow: hidden;}
    </style>
    <h1 class="mt-4">{{ title }}</h1>

    <div class="formatted_content">
        <p>Большинство программистов знают и используют на практике MVC. Задавая вопрос всегда услышишь в ответ mvc - это модель представление контролер.</p>
        <p>А что такое модель (Model) и что такое представление (View)?</p>
        <h5>Первое определение модели</h5>
        <blockquote class="blockquote">
            Модель — это форма <strong>отображения</strong> определённого фрагмента действительности (предмета, явления, процесса, ситуации).
        </blockquote>
        <h5>Второе определение модели</h5>
        <pre>Модель — упрощённый объект, сохраняющий лишь важнейшие свойства настоящего существующего объекта или системы.</pre>
        <h5>Третье определение модели</h5>
        <pre>Модель – это <strong>представление</strong> объектов реального или вымышленного мира и их свойств.</pre>
        <p>в двух отредеделениях встречается "представление" и "отображение", мы даём отпределение модели, не второмому компоненту mvc view</p>
    </div>
{% endblock %}
