{% set title = 'php урок 2' %}

{% extends "../layouts/app.twig" %}

{% block content %}
    <h1 class="mt-4">{{ title }}. Константы, переменные, вещественные и целые числа.</h1>

    <p>
    <pre><br><pre><strong>Переменная</strong> является средством хранения значения, такого как текстовая строка «Hello World!» или целое значение 4.
Переменная может быть использована в любом месте кода, вместо того, чтобы вводить фактические значения снова и снова. В PHP вы определяете переменную следующим образом:

$название_переменной = хранимое значение;

Примеры различных переменных в PHP:
    $word
    $my_word
    $word24
    $ВЫСОТА

Как вы видите, любая переменная начинается со знака доллара. Нельзя о ней забывать, иначе ничего работать не будет.
Кроме того, имена переменных чувствительны к регистру, так что используйте тоже самое написание при использовании переменной, что и при объявлении.

Примечание: PHP не требует объявления переменных перед использование

Разрешенные названия переменных
Есть несколько правил, которые нужно соблюдать при выборе имени для ваших PHP переменных.

PHP переменных должны начинаться с буквы или символа подчеркивания «_».
PHP переменные могут состоять только из буквенно-цифровых знаков и символов подчеркивания. a-z, A-Z, 0-9, или _.
Переменные из более чем одного слова могут быть разделены подчеркиванием. $my_variable
Переменные из более чем одного слова также можно разделить регистром. $myVariable

Вещественные числа (real);
Вещественные числа – это числа, в которых есть дробная часть (их также называют числами с плавающей точкой). Зачем использовать вещественные числа в PHP? Дело в том, что целые числа не всегда подходят для расчетов. Иногда, нам нужны более точные измерения, например, измерение температуры или финансовые расчеты,  при которых указываются дробные части. Обратите внимание на то, что для отделения дробной части от целой в php следует использовать точку, а не запятую!!!

Примеры:
    1.245
    156.12

Целые числа (integer);
Целое число – это последовательность из одной или нескольких цифр  без дробной части. Запись целого числа в PHP может быть разной:

Обычная десятеричная система счисления —
    9

Константа - это идентификатор (имя) для простого значения. Как следует из названия, их значение не может изменится в ходе выполнения скрипта (кроме магических констант, которые на самом деле не являются константами). Имена констант по умолчанию чувствительны к регистру. По принятому соглашению, имена констант всегда пишутся в верхнем регистре.

&lt;?php
// Правильные имена констант
define("FOO", "что-то");
define("FOO2",  "что-то ещё");
define("FOO_BAR", "что-то большее");

Задание:
Создайте файл
src/Models/Cart.php

Создайте три целочислиные константы:
- рубли 100 копеек
- долары 6470 копеек
- евро 7075 копеек

Числовые константы коофиценты ковертации валют
рубль -&gt; доллар
рубль -&gt; евро
долар -&gt; рубль
долра -&gt; евро
евро -&gt; рубль
евро -&gt; долла

Создайте переменные
банан со стоимостью 15 рублей
яблоко со стоимостью 4 рубля
арбуз со стоимостью 280 рублей

Подключите в index.php файл src/Models/Cart.php
и выведите всех констант и переменных в столбец</pre><br></pre>

    </p>
{% endblock %}
