{% set title = 'php урок 3' %}

{% extends "../layouts/app.twig" %}

{% block content %}
    <h1 class="mt-4">{{ title }}. Массивы (Одномерные индексные массивы)</h1>

    <div class="formatted_content">
        <pre>! Нужно рассказать про математика 5 класса - натуральные числа, или переместить в циклы?</pre><div>! Ряд натуральных чисел?<br>! Или "Множество — собрание объектов обладающих общим свойством"<br><br><br></div><pre>Массив - это набор данных, которые объединены под одним именем. Массив состоит из нескольких элементов, которые имеют свой определенный индекс.

Массивы создаются при помощи оператора присвоения, также как и переменная.
Имена массивов начинаются со знака $, после которого следует произвольный идентификатор, далее идут квадратные скобки: $arr<strong>[0] </strong>= "php";

Также, мы можем добавить еще элементы к массиву:

&lt;?php
$arr[1] = "html";
$arr[2] = "css";

Начиная с версии PHP 5.4, массивы можно создать через квадратные скобки:

&lt;?php
$arr = ["php", "laravel", "yii", "zend", "cakephp"];

Масив в php – это структурно организованна совокупность ячеек памяти, хранящих данные под одним именем. Массивы являются довольно гибким и многоцелевым типом данных. Они могут включать как элементы любой другой тип данных в т.ч. и другие массивы.
В то время как переменная может содержать в один момент времени только одно значение, массив может одновременно содержать несколько элементов (значений). Элементы массивов идентифицируются по их индексах (ключах). Индекс в массивах – это специальный уникальный идентификатор элемента, который записывается после имени массива в квадратных скобках. Любой массив состоит из 1 или нескольких пар «ключ — значение».
Простым примером массива может быть обычное слово. Все строковые данные в PHP можно представить в виде массива. Например, слово «программа» — это массив, который включает девять элементов. Для обращения к элементу массива нужно указать его индекс. В языке программирования php, как и во многих других языках, индексация начинается с 0.


    &lt;?php
    $number = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9];

Задание:
Создайте файл
src/Models/Month.php

в файле:
- создайте переменную $index со значением 3
- создайте массив чисел в переменноый $days в которую будут записаны количество дней в каждом месяце~

Подключите в файле index.php созданный файл
и выведите выведите значение каждого элемента массива в столбец

Пример:
    1
    2
    3</pre><div></div>
    </div>
{% endblock %}
