{% set title = 'Онлайн курс программирование на PHP' %}
{% extends "../layouts/app.twig" %}

{% block content %}
    <h1 class="mt-4">{{ title }}</h1>
    <ul>
        <li>Синтаксис</li>
        <li>Типы данных в php: вещественные, целые числа, строки, массивы, объекты, логические величины
        </li><li>Переменные, константы и операции с ними
        </li><li><h3>Строки</h3>
            <ul>
                <li>Обработка переменных внутри строк</li>
                <li>Вывод строк (Echo, var_dump, sprintf)</li>
                <li>Форматированный вывод строк</li>
                <li>Длина строки в PHP</li>
                <li>Поиск подстроки в строке</li>
            </ul>

        </li><li>Операторы
            - Операторы увеличения и уменьшения в PHP
        </li><li>Комментарии
        </li><li>Include
        </li><li>Условный оператор
        </li><li>Switch
        </li><li>Функции
            - Аргументы функции
            -- Передача аргументов по ссылке
            -- Значений по умолчанию в определении функции
            -- Списки аргументов переменной длины
            - Создание функций
            - Вызов функций
            - Присваивание переменной результата функции
            - Что такое рекурcия
        </li><li>Массивы
            - Индексные и ассоциативные массивы
            -  Одномерные и многомерные массивы
            - Сложение массивов
            - Сравнение массивов
            - Добавление элементов массива
            - Удаление элементов массива
            - Сортировка массивов
            - Многомерные массивы
        </li><li>Циклы
            — Цикл While
            — Цикл For
            — Цикл Foreach
            — Цикл Do while
            — POST & GET
        </li><li>Файлы
        </li><li>Работа с cURL
        </li><li>Регулярные выражения в PHP (любят спрашивать на собеседованиях)</li>
    </ul>
{% endblock %}
