{% extends "../layouts/app.twig" %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col">
            <pre>
                Вводная статья о языке программирования php
Урок 1. Применение функции include();
Урок 2. PHP массивы.
Урок 3. Цикл for в PHP.
Урок 4. Обработка форм. Функция отправки почты.
Урок 5. Повторный вывод формы с заполненными полями .
Урок 6. Функции работы с файлами.
Урок 7. Как получить список файлов в папке.
Урок 8. $_SERVER - узнай все о посетителе.
Урок 9. Работа со строками в PHP.
Урок 10. Генератор случайных чисел в PHP.
Урок 11. Функции PHP.
Урок 12. Функции даты и времени на PHP.
Урок 13. Функции работы с mysql на PHP.
Уроки php для продвинутых
Регулярные выражения в php.
Работа с htaccess.
Работа с json. Обмен данными в php.
https://webformyself.com/kak-proizvesti-chtenie-bolshix-fajlov-v-php-i-ne-ugrobit-server/
https://webformyself.com/php-funkcii/
https://webformyself.com/php-sessii/
https://webformyself.com/php-metody-get-i-post/
https://webformyself.com/php-zagruzka-fajla/
https://webformyself.com/php-massivy/
https://webformyself.com/php-tipy-konstant/
https://webformyself.com/php-7-obrabotka-oshibok/
1.1 О PHP
1.2 История PHP
1.3 Почему именно PHP?
1.4 Как это все (PHP) работает?
1.5 От интерпретатора к компилятору
1.6 Возможности PHP
1.7 Что необходимо для работы?
1.8 Ответы на ваши вопросы
1.9 Заключение к главе
2.1 Установка и конфигурирование
2.2 Установка Apache
2.3 Установка PHP
2.4 Установка MySQL
2.5 Настройка Apache
2.6 Настройка PHP
2.7 Настройка MySQL
2.8 Тестирование программ Apache, PHP
2.9 Заключение к главе 2
3.1 Синтаксис языка PHP
3.2 Профессиональная вставка
3.3 РНР и HTML
3.4 Комментарии в языке (коде) PHP
3.5 Стандарты оформления PHP кода
3.6 Заключение к главе 3
4.1 Переменные. Что такое переменные?
4.2 Типы данных в PHP
4.3 Integer. Тип данных.
4.4 Double. Тип данных.
4.5 Boolean. Тип данных.
4.6 Другие типы данных
4.7 Определение переменных в PHP
4.8 Изменение типа данных в PHP
4.9 Ссылки на переменные в PHP
4.10 Динамические переменные в PHP
4.11 Что такое Константы в PHP?
4.12 Определение констант в языке PHP
4.13 Предопределенные константы в языке PHP
4.14 Заключение к главе 4
5.1 Операторы в PHP
5.2 Оператор присваивания в PHP
5.3 Арифметические операторы в PHP
5.4 Операторы отношения в PHP
5.5 Логические операторы в PHP
5.6 Поразрядные операторы в PHP
5.7 Строковые операторы в PHP
5.8 Оператор подавления ошибок в PHP
5.9 Операторы увеличения и уменьшения в PHP
5.10 Сокращенная запись присвоения переменных в PHP
5.11 Приоритетность и ассоциативность в PHP
5.12 Заключение к главе 5
6.1 Управляющие операторы PHP
6.2 Условный оператор IF
6.3 Условный оператор Elseif
6.4 Условный оператор Switch
6.5 Операторы цикла For
6.6 Оператор цикла While
6.7 Оператор цикла Do...while
6.8 Безусловный оператор Break
6.9 Безусловный оператор Continue
6.10 Безусловный оператор Exit
6.11 Require
6.12 Include
6.13 Заключение к главе 6
7.1 Функции в PHP
7.2 Определение функций в PHP
7.3 Аргументы функций в PHP
7.4 Область видимости переменных
7.5 Время жизни переменных в PHP
7.6 Рекурсия в PHP
7.7 Динамический вызов функций в PHP
7.8 Заключение к главе 7
8.1 Массивы в PHP
8.2 Присвоение значений массивов PHP
8.3 Функция array() PHP
8.4 Вывод PHP массивов
8.5 Обход массивов PHP. Функция count(), Конструкции foreach()
8.6 Функция reset()
8.7 each()
8.8 list()
8.9 Сложение массивов
8.10 Сравнение массивов
8.11 Добавление элементов массива
8.12 Удаление элементов массива
8.13 Сортировка массивов
8.14 Многомерные массивы
8.15 Преобразование в массив
8.16 Заключение к главе 8
9.1 Строка
9.2 Обработка переменных внутри строк
9.3 Вывод строк
9.4 Форматированный вывод строк
9.5 Длина строки в PHP
9.6 Поиск подстроки в строке
9.7 Чистка строк
9.8 Заключение к главе 9
10.1 Работа с HTML-формами
10.2 Передача данных HTML-формы. Метод GET и POST
10.3 Получение данных в PHP
10.4 Суперглобальные массивы $_GЕТ и $_POST
10.5 Заключение к главе 10
11.1 Открытие файлов в PHP
11.2 Закрытие файлов в PHP
11.3 Чтение и запись файлов в PHP
11.4 Копирование, удаление и переименование файлов в PHP
11.5 Получение информации о файлах в PHP
11.6 Файловый указатель в PHP
11.7 Открытие и закрытие каталогов в PHP
11.8 Чтение каталогов в PHP
11.9 Создание и удаление каталогов в PHP
11.10 Заключение к главе 11
12.1 Работа с базами данных MySQL в PHP
12.2 Соединение PHP с сервером базы данных MySQL
12.3 Создание и удаление базы данных MySQL
12.4 Создание и удаление таблиц MySQL
12.5 Работа с данными MySQL
12.6 Заключение к главе 12
13.1 Работа с изображениями в PHP. Библиотека GD
13.2 Создание и вывод изображений в PHP
13.3 Модификация изображений в PHP
13.4 Работа с текстом в PHP
13.5 Заключение к главе 13
14.1 Работа с датой и временем в PHP
14.2 Символы форматирования даты и времени в PHP
14.3 Функция date() и getdate() в PHP
14.4 Преобразования к абсолютному времени в PHP
14.5 Заключение к главе 14
15.1 Работа с регулярными выражениями в PHP
15.2 Регулярные выражения POSIX
15.3 Метасимволы
15.4 Классы символов в PHP
15.5 Квантификаторы в PHP
15.6 Замена по шаблону в PHP
15.7 Примеры регулярных выражений
15.8 Заключение к главе 15
16.1 Работа с Cookies в PHP
16.2 Создание Cookies в PHP
16.3 Чтение из Cookies
16.4 Удаление Cookies
16.5 Заключение к главе 16
https://webformyself.com/php-7-funkciya-unserialize-s-filtraciej/
https://webformyself.com/metod-php-closurecall/
https://webformyself.com/php-7-anonimnye-klassy/
https://webformyself.com/php-7-operator-obedineniya-s-null/
https://webformyself.com/php-7-obyavlenie-vozvrashhaemogo-tipa/
https://webformyself.com/php-7-obyavleniya-tipa-scalar/

http://tradebenefit.ru/include-require-php
http://tradebenefit.ru/metod-post-v-php-ili-kak-obrabotat-formu
            </pre>
        </div>
        <div class="col">
            2 of 2
        </div>
    </div>
    <div class="row">
        <div class="col">
            1 of 3
        </div>
        <div class="col">
            2 of 3
        </div>
        <div class="col">
            3 of 3
        </div>
    </div>
    </div>
{% endblock %}