<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>{{ title }} | Quality Case</title>

    <link rel="canonical" href="https://qualitycase.ru/">

    <link rel="stylesheet" href="/css/highlighter.css">
    <script src="/js/highlighter.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <style>
    html {
      font-size: 14px;
    }

    body {
      border-top: 10px #4cc1be solid;
      font: normal 16px/26px "Roboto", Arial, sans-serif;
      text-rendering: optimizeLegibility;
    }
        @media (min-width: 768px) {
          html {
            font-size: 16px;
          }
        }


        .card-deck .card {
          min-width: 220px;
        }

        .border-top { border-top: 1px solid #e5e5e5; }
        .border-bottom { border-bottom: 1px solid #e5e5e5; }

        .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

        /* Sticky footer styles
        -------------------------------------------------- */
        html {
          position: relative;
          min-height: 100%;
        }
        body {
          margin-bottom: 60px; /* Margin bottom by footer height */
        }
        .footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 60px; /* Set the fixed height of the footer here */
          line-height: 60px; /* Vertically center the text there */
          background-color: #f5f5f5;
        }

        .container {
          padding: 0 15px;

        }


.container {
                      width: 100%;
                      display: block;
                      background: #fefefe;
                      padding-bottom: 10px;
}

        @media (min-width: 680px)
        .container {
            margin: 45px auto;
        }
        @media (min-width: 1340px)
        .container {
            max-width: 1290px !important;
        }
    </style>
  </head>

  <body>
    {% include 'menu.twig' %}


        <!-- Begin page content -->
        <main class="container">
    <div class="row">


      <div class="col-lg-8">
        {% block content %}{% endblock %}

        <div class="addthis_inline_share_toolbox"></div>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="задачи по php для начинающих с решениями">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Найти</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/lessons/first-lesson-php">php урок 1</a>
                  </li>
                  <li>
                    <a href="/lessons/second-lesson-php">php урок 2</a>
                  </li>
                  <li>
                    <a href="/lessons/third-lesson-php">php урок 3</a>
                  </li>
                  <li>
                    <a href="/lessons/fourth-lesson-php">php урок 4</a>
                  </li>
                  <li>
                    <a href="/lessons/dependency_injection_php-lesson-php">Внедрение зависимостей в Php</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

<!--
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div>
-->
      </div>

    </div>
</main>

    <footer class="footer" style="background: #fff">
      <div class="container">
        <span class="text-muted">© Web-сайт "QualityCase.ru", 2020</span>
      </div>
    </footer>


    <script type="text/javascript" src="/js/highlighter.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116138745-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-116138745-1');
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

    <!-- debug -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d4becb398116811"></script>
  </body>
</html>
