<html lang="ru" data-lt-installed="true"><head>
    <meta charset="utf-8">
    <meta content="initial-scale=1" name="viewport">
    <meta content="index, follow" name="robots">
    <link rel="stylesheet" media="all" href="css/application-afeaf20d094a271eb74a7f29c196a265.css?v=1553084891383">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700?v=1553084891385" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body class="page-body topic-code">
{% include 'menu.twig' %}

<div class="page-content topic-code" style="height: auto;">
    <main class="content">
        <div class="content-banner">
            <div class="content-banner-restricted-width">
                <div class="content-banner__icon"><img class="content-banner__title-icon loading" src="https://static.tutsplus.com/assets/redesign/code-92f4d6cb84ab4ebc886f67060c059c44.svg" alt="Code" data-was-processed="true"></div>
                <div class="content-banner__body">
                    <h1 class="content-banner__title nolinks">Тест</h1>
                </div>
            </div>
        </div>
        <div class="content-title"></div>
        <article class="post article view view--loaded">
            <div class="layout__content-with-sidebar">

                <div class="post-body view view--loaded">

                    <div class="post-body__body">
                        <div class="post-body__content">
                            <figure class="final-product final-product--image"><img data-src="https://cms-assets.tutsplus.com/uploads/users/317/posts/22440/final_image/yii2-home.jpg" alt="Final product image" class="loaded" src="https://cms-assets.tutsplus.com/uploads/users/317/posts/22440/final_image/yii2-home.jpg" data-was-processed="true">
                                <figcaption>What You'll Be Creating</figcaption>
                            </figure>
                            <h4 class="nolinks">If you're asking, "what's Yii?" check out my earlier tutorial: <a href="http://code.tutsplus.com/articles/introduction-to-the-yii-framework--cms-20948" target="_self">Introduction to the Yii Framework</a>, which reviews the benefits of &nbsp;Yii and&nbsp;includes an overview of what's new in Yii 2.0, released October 12th, 2014.&nbsp;<br></h4>
                            <p>This tutorial will walk you through installing Yii 2.0, setting up your local development environment, building a simple Hello World application, setting up your remote production environment for hosting&nbsp;and deploying your code from a GitHub repository.</p>
                            <h2 class="nolinks">Installing Yii 2.0</h2>
                            <h3 class="nolinks">Documentation</h3>
                            <p>You can find <a href="http://www.yiiframework.com/doc-2.0/guide-start-installation.html" target="_self">detailed installation instructions here</a>; I'll walk you through the basics for a typical Mac OS X development environment. Yii 2.0 has a&nbsp;<a href="http://www.yiiframework.com/doc-2.0/guide-index.html">Definitive Guide</a>&nbsp;(<a href="http://stuff.cebe.cc/yii2-guide.pdf">PDF</a>)&nbsp;and a&nbsp;<a href="http://www.yiiframework.com/doc-2.0/index.html">Class Reference</a>&nbsp;which cover every detail of Yii. ca</p>
                            <h3 class="nolinks">Installing Composer</h3>
                            <p>Yii2 requires <a href="https://getcomposer.org/" target="_self">Composer</a>, a popular dependency manager for PHP. If you don't already have Composer installed, do the following:</p>
                            <div>
                                <div id="highlighter_498000" class="syntaxhighlighter bash nolinks">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="gutter">
                                                <div class="line number1 index0 alt2">1</div>
                                                <div class="line number2 index1 alt1">2</div>
                                            </td>
                                            <td class="code">
                                                <div class="container">
                                                    <div class="line number1 index0 alt2"><code class="bash plain">curl -s http:</code><code class="bash plain">//getcomposer</code><code class="bash plain">.org</code><code class="bash plain">/installer</code> <code class="bash plain">| php</code></div>
                                                    <div class="line number2 index1 alt1"><code class="bash functions">mv</code> <code class="bash plain">composer.phar</code><code class="bash plain">/usr/local/bin/composer</code></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h3 class="nolinks">Installing Yii2</h3>
                            <p>Then, use Composer to install Yii2. The installation request requires that you use your own Github account credentials; <a href="http://github.com" target="_self">sign up</a> if you don't have an account.</p>
                            <p>Let's call this first project, "hello":</p>
                            <div>
                                <div id="highlighter_349831" class="syntaxhighlighter bash nolinks">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="gutter">
                                                <div class="line number1 index0 alt2">1</div>
                                                <div class="line number2 index1 alt1">2</div>
                                                <div class="line number3 index2 alt2">3</div>
                                            </td>
                                            <td class="code">
                                                <div class="container">
                                                    <div class="line number1 index0 alt2"><code class="bash functions">cd</code> <code class="bash plain">~</code><code class="bash plain">/Sites</code></div>
                                                    <div class="line number2 index1 alt1"><code class="bash plain">composer global require</code><code class="bash string">"fxp/composer-asset-plugin:1.0.0-beta2"</code></div>
                                                    <div class="line number3 index2 alt2"><code class="bash plain">composer create-project --prefer-dist yiisoft</code><code class="bash plain">/yii2-app-basic</code> <code class="bash plain">hello</code></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>Yii2 provides two different installation templates depending on the type of application you're developing: basic and advanced. For this tutorial, we'll use the basic application which is installed by default. The <a href="http://www.yiiframework.com/doc-2.0/guide-tutorial-advanced-app.html" target="_self">advanced application template</a> provides a front-end, back end and console access points for a more advanced web application, like a WordPress blog, it's administrative dashboard and background cron tasks.</p>
                            <h2 class="nolinks">Setting Up Your Local Development Environment</h2>
                            <p>I'm using free, open source&nbsp;<a href="http://www.mamp.info/en/" target="_self">MAMP for OS X</a>&nbsp;for my LAMP development. Make sure MAMP is running and its web and database servers are active. Then,&nbsp;create a&nbsp;symlink for MAMP to your <code class="inline">Sites</code> app directory:</p>
                            <div>
                                <div id="highlighter_888628" class="syntaxhighlighter bash nolinks">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="gutter">
                                                <div class="line number1 index0 alt2">1</div>
                                                <div class="line number2 index1 alt1">2</div>
                                            </td>
                                            <td class="code">
                                                <div class="container">
                                                    <div class="line number1 index0 alt2"><code class="bash functions">cd</code> <code class="bash plain">/Applications/MAMP/htdocs</code></div>
                                                    <div class="line number2 index1 alt1"><code class="bash functions">ln</code> <code class="bash plain">-s ~</code><code class="bash plain">/Sites/hello/</code> <code class="bash plain">/Applications/MAMP/htdocs/hello</code></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>Then, visit <a href="http://localhost:8888/hello/web">http://localhost:8888/hello/web</a>. You should see the Yii2 basic application template running with <a href="http://getbootstrap.com/" target="_self">Bootstrap 3.x</a>.&nbsp;</p>
                            <p><img alt="Yii2 Newly Installed Basic Application Template" data-src="https://cms-assets.tutsplus.com/uploads/users/317/posts/22440/image/yii-hello-install.jpg" class="loaded" src="https://cms-assets.tutsplus.com/uploads/users/317/posts/22440/image/yii-hello-install.jpg" data-was-processed="true"><br></p>
                            <p>That page will&nbsp;likely excite Yii 1.1 developers&nbsp;who've not had pre-configured&nbsp;support for the latest version of Bootstrap, the outstanding open source responsive CSS framework that's taken over quite a bit of the web.</p>
                            <h2 class="nolinks">Yii Application Architecture</h2>
                            <p>One of the most important features of the Yii Framework is that it&nbsp;provides a <a href="http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller" target="_self">Model View Controller</a> for PHP. Not only does this provide a more structured programming environment and easier to understand code, it simplifies a number of things that are difficult to do in PHP, like security and automated code generation. It also makes our code easier to extend and more reusable.</p>
                            <p>With a Yii application, we direct all traffic to a single file: <code class="inline">/web/index.php</code> file. This built-in file loads Yii, any dependencies, and then runs your application.</p>
                            <div>
                                <div id="highlighter_679804" class="syntaxhighlighter php nolinks">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="gutter">
                                                <div class="line number1 index0 alt2">01</div>
                                                <div class="line number2 index1 alt1">02</div>
                                                <div class="line number3 index2 alt2">03</div>
                                                <div class="line number4 index3 alt1">04</div>
                                                <div class="line number5 index4 alt2">05</div>
                                                <div class="line number6 index5 alt1">06</div>
                                                <div class="line number7 index6 alt2">07</div>
                                                <div class="line number8 index7 alt1">08</div>
                                                <div class="line number9 index8 alt2">09</div>
                                                <div class="line number10 index9 alt1">10</div>
                                                <div class="line number11 index10 alt2">11</div>
                                                <div class="line number12 index11 alt1">12</div>
                                            </td>
                                            <td class="code">
                                                <div class="container">
                                                    <div class="line number1 index0 alt2"><code class="php plain">&lt;?php</code></div>
                                                    <div class="line number2 index1 alt1">&nbsp;</div>
                                                    <div class="line number3 index2 alt2"><code class="php comments">// comment out the following two lines when deployed to production</code></div>
                                                    <div class="line number4 index3 alt1"><code class="php plain">defined(</code><code class="php string">'YII_DEBUG'</code><code class="php plain">)</code><code class="php keyword">or</code> <code class="php plain">define(</code><code class="php string">'YII_DEBUG'</code><code class="php plain">, true);</code></div>
                                                    <div class="line number5 index4 alt2"><code class="php plain">defined(</code><code class="php string">'YII_ENV'</code><code class="php plain">)</code><code class="php keyword">or</code> <code class="php plain">define(</code><code class="php string">'YII_ENV'</code><code class="php plain">,</code><code class="php string">'dev'</code><code class="php plain">);</code></div>
                                                    <div class="line number6 index5 alt1">&nbsp;</div>
                                                    <div class="line number7 index6 alt2"><code class="php keyword">require</code><code class="php plain">(__DIR__ .</code><code class="php string">'/../vendor/autoload.php'</code><code class="php plain">);</code></div>
                                                    <div class="line number8 index7 alt1"><code class="php keyword">require</code><code class="php plain">(__DIR__ .</code><code class="php string">'/../vendor/yiisoft/yii2/Yii.php'</code><code class="php plain">);</code></div>
                                                    <div class="line number9 index8 alt2">&nbsp;</div>
                                                    <div class="line number10 index9 alt1"><code class="php variable">$config</code> <code class="php plain">=</code><code class="php keyword">require</code><code class="php plain">(__DIR__ .</code><code class="php string">'/../config/web.php'</code><code class="php plain">);</code></div>
                                                    <div class="line number11 index10 alt2">&nbsp;</div>
                                                    <div class="line number12 index11 alt1"><code class="php plain">(</code><code class="php keyword">new</code> <code class="php plain">yii\web\Application(</code><code class="php variable">$config</code><code class="php plain">))-&gt;run();</code></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>By default, this is the Index method in&nbsp;<code class="inline">/controllers/SiteController.php</code>:</p>
                            <div>
                                <div id="highlighter_152586" class="syntaxhighlighter php nolinks">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="gutter">
                                                <div class="line number1 index0 alt2">1</div>
                                                <div class="line number2 index1 alt1">2</div>
                                                <div class="line number3 index2 alt2">3</div>
                                                <div class="line number4 index3 alt1">4</div>
                                            </td>
                                            <td class="code">
                                                <div class="container">
                                                    <div class="line number1 index0 alt2"><code class="php keyword">public</code> <code class="php keyword">function</code> <code class="php plain">actionIndex()</code></div>
                                                    <div class="line number2 index1 alt1"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="php plain">{</code></div>
                                                    <div class="line number3 index2 alt2"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="php keyword">return</code> <code class="php variable">$this</code><code class="php plain">-&gt;render(</code><code class="php string">'index'</code><code class="php plain">);</code></div>
                                                    <div class="line number4 index3 alt1"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="php plain">}</code></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>Generally, controllers are full of methods, but with minimal code like above. Controllers manage access,&nbsp;leverage models and render views. The bulk of intelligence should be built into your models and the views should generally produce relatively simple template operations.</p>
                            <p>By default, Yii will render <code class="inline">/views/layouts/main.php</code> around your index view in <code class="inline">/views/site/index.php</code>. The <code class="inline">main.php</code> layout provides the HTML and CSS structure to the page, e.g. the toolbar and content area.&nbsp;Inside <code class="inline">main.php</code>, you'll see a brief call out to the content:</p>
                            <div>
                                <div id="highlighter_794594" class="syntaxhighlighter php nolinks">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="gutter">
                                                <div class="line number1 index0 alt2">1</div>
                                                <div class="line number2 index1 alt1">2</div>
                                                <div class="line number3 index2 alt2">3</div>
                                                <div class="line number4 index3 alt1">4</div>
                                                <div class="line number5 index4 alt2">5</div>
                                                <div class="line number6 index5 alt1">6</div>
                                            </td>
                                            <td class="code">
                                                <div class="container">
                                                    <div class="line number1 index0 alt2"><code class="php plain">&lt;div</code><code class="php keyword">class</code><code class="php plain">=</code><code class="php string">"container"</code><code class="php plain">&gt;</code></div>
                                                    <div class="line number2 index1 alt1"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="php plain">&lt;?= Breadcrumbs::widget([</code></div>
                                                    <div class="line number3 index2 alt2"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="php string">'links'</code> <code class="php plain">=&gt; isset(</code><code class="php variable">$this</code><code class="php plain">-&gt;params[</code><code class="php string">'breadcrumbs'</code><code class="php plain">]) ?</code><code class="php variable">$this</code><code class="php plain">-&gt;params[</code><code class="php string">'breadcrumbs'</code><code class="php plain">] : [],</code></div>
                                                    <div class="line number4 index3 alt1"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="php plain">]) ?&gt;</code></div>
                                                    <div class="line number5 index4 alt2"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="php plain">&lt;?=</code><code class="php variable">$content</code> <code class="php plain">?&gt;</code></div>
                                                    <div class="line number6 index5 alt1"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="php plain">&lt;/div&gt;</code></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>That <code class="inline">$content</code> variable will be replaced with the generated&nbsp;code from <code class="inline">/views/site/index.php</code>, which currently is static HTML code that generates the <strong>Congratulations!</strong> page shown&nbsp;above.</p>
                            <h2 class="nolinks">Building Hello World!</h2>
                            <h3 class="nolinks">Turning on Pretty URLs</h3>
                            <p>First, let's enable Yii2's pretty URLs with <code class="inline">mod_rewrite</code>. On the Yii home page, if you click on the <strong>About</strong> menu option, the URL will be something like&nbsp;<a href="http://localhost:8888/hello/web/index.php?r=site%2Fabout">http://localhost:8888/hello/web/index.php?r=site%2Fabout</a>. We'd like to change that to&nbsp;<a href="http://localhost:8888/hello/web/site/about">http://localhost:8888/hello/web/site/about</a>.</p>
                            <p>The <code class="inline">config</code> subdirectory includes environment configurations for your web and console&nbsp;applications as well as the future database settings.&nbsp;Edit <code class="inline">/config/web.php</code> to add <code class="inline">urlManagement</code> to the current web application. Add the following <code class="inline">urlManager</code> section within the components array:</p>
                            <div>
                                <div id="highlighter_522288" class="syntaxhighlighter php nolinks">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="gutter">
                                                <div class="line number1 index0 alt2">1</div>
                                                <div class="line number2 index1 alt1">2</div>
                                                <div class="line number3 index2 alt2">3</div>
                                                <div class="line number4 index3 alt1">4</div>
                                                <div class="line number5 index4 alt2">5</div>
                                                <div class="line number6 index5 alt1">6</div>
                                                <div class="line number7 index6 alt2">7</div>
                                                <div class="line number8 index7 alt1">8</div>
                                            </td>
                                            <td class="code">
                                                <div class="container">
                                                    <div class="line number1 index0 alt2"><code class="php string">'components'</code> <code class="php plain">=&gt; [</code></div>
                                                    <div class="line number2 index1 alt1"><code class="php comments">//...</code></div>
                                                    <div class="line number3 index2 alt2"><code class="php spaces">&nbsp;&nbsp;</code><code class="php string">'urlManager'</code> <code class="php plain">=&gt; [</code></div>
                                                    <div class="line number4 index3 alt1"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="php string">'showScriptName'</code> <code class="php plain">=&gt; false,</code></div>
                                                    <div class="line number5 index4 alt2"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="php string">'enablePrettyUrl'</code> <code class="php plain">=&gt; true</code></div>
                                                    <div class="line number6 index5 alt1"><code class="php spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="php plain">],&nbsp;&nbsp;&nbsp;</code></div>
                                                    <div class="line number7 index6 alt2"><code class="php comments">//...</code></div>
                                                    <div class="line number8 index7 alt1"><code class="php string">'request'</code> <code class="php plain">=&gt; [</code></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>Then, create an <code class="inline">.htaccess</code> file within <code class="inline">/web</code> where the primary <code class="inline">index.php</code> file exists:</p>
                            <div>
                                <div id="highlighter_856767" class="syntaxhighlighter php nolinks">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="gutter">
                                                <div class="line number1 index0 alt2">1</div>
                                                <div class="line number2 index1 alt1">2</div>
                                                <div class="line number3 index2 alt2">3</div>
                                                <div class="line number4 index3 alt1">4</div>
                                                <div class="line number5 index4 alt2">5</div>
                                                <div class="line number6 index5 alt1">6</div>
                                                <div class="line number7 index6 alt2">7</div>
                                            </td>
                                            <td class="code">
                                                <div class="container">
                                                    <div class="line number1 index0 alt2"><code class="php plain">RewriteEngine on</code></div>
                                                    <div class="line number2 index1 alt1">&nbsp;</div>
                                                    <div class="line number3 index2 alt2"><code class="php plain"># If a directory</code><code class="php keyword">or</code> <code class="php plain">a file exists,</code><code class="php keyword">use</code> <code class="php plain">it directly</code></div>
                                                    <div class="line number4 index3 alt1"><code class="php plain">RewriteCond %{REQUEST_FILENAME} !-f</code></div>
                                                    <div class="line number5 index4 alt2"><code class="php plain">RewriteCond %{REQUEST_FILENAME} !-d</code></div>
                                                    <div class="line number6 index5 alt1"><code class="php plain"># Otherwise forward it to index.php</code></div>
                                                    <div class="line number7 index6 alt2"><code class="php plain">RewriteRule . index.php</code></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>Make sure <code class="inline">mod_rewrite</code> is running locally on MAMP; if not, check out <a href="http://stackoverflow.com/questions/7670561/how-to-get-htaccess-to-work-on-mamp" target="_self">this Stack Overflow guide</a>.</p>
                            <p>In your browser, visit this URL:&nbsp;<a href="http://localhost:8888/hello/web/site/about">http://localhost:8888/hello/web/site/about</a>. You should see the Yii application About page and clicking on other menu options should bring up pretty URLs.</p>
                            <h3 class="nolinks">Building the Say Hello World! Action</h3>
                            <p>Next, we'll add a controller action called <code class="inline">Say</code> to repeat a target message of our choosing. In <code class="inline">/controllers/SiteController.php</code>, add the following action:</p>
                            <div>
                                <div id="highlighter_746782" class="syntaxhighlighter plain nolinks">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="gutter">
                                                <div class="line number1 index0 alt2">1</div>
                                                <div class="line number2 index1 alt1">2</div>
                                                <div class="line number3 index2 alt2">3</div>
                                                <div class="line number4 index3 alt1">4</div>
                                            </td>
                                            <td class="code">
                                                <div class="container">
                                                    <div class="line number1 index0 alt2"><code class="plain plain">public function actionSay($target = 'World')</code></div>
                                                    <div class="line number2 index1 alt1"><code class="plain plain">{</code></div>
                                                    <div class="line number3 index2 alt2"><code class="plain spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="plain plain">return $this-&gt;render('say', ['target' =&gt; $target]);</code></div>
                                                    <div class="line number4 index3 alt1"><code class="plain plain">}</code></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>This will look for a URL parameter called target to echo to the screen. If there is no target parameter, it will say repeat "World". In Yii, actions are defined as a&nbsp;method named with the prefix "action" followed by the action name.&nbsp;In this&nbsp;<code class="inline">SiteController</code> class, we use <code class="inline">public function actionSay</code>. Yii uses the prefix "action" to differentiate action methods from other&nbsp;methods.</p>
                            <p>The default behavior of the render method will look for a file in&nbsp;<code class="inline">views/ControllerID/ViewName.php</code>. So,&nbsp;in <code class="inline">/views/site/</code>, create a <code class="inline">say.php</code> view file:</p>
                            <div>
                                <div id="highlighter_160557" class="syntaxhighlighter php nolinks">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="gutter">
                                                <div class="line number1 index0 alt2">1</div>
                                                <div class="line number2 index1 alt1">2</div>
                                                <div class="line number3 index2 alt2">3</div>
                                                <div class="line number4 index3 alt1">4</div>
                                                <div class="line number5 index4 alt2">5</div>
                                            </td>
                                            <td class="code">
                                                <div class="container">
                                                    <div class="line number1 index0 alt2"><code class="php plain">&lt;?php</code></div>
                                                    <div class="line number2 index1 alt1"><code class="php keyword">use</code> <code class="php plain">yii\helpers\Html;</code></div>
                                                    <div class="line number3 index2 alt2"><code class="php plain">?&gt;</code></div>
                                                    <div class="line number4 index3 alt1"><code class="php plain">&lt;h1&gt;Hello &lt;?= Html::encode(</code><code class="php variable">$target</code><code class="php plain">) ?&gt;&lt;/h1&gt;</code></div>
                                                    <div class="line number5 index4 alt2"><code class="php plain">&lt;p&gt;Welcome to your Yii2 demonstration application.&lt;/p&gt;</code></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>This is the template view file to repeat static HTML tag <code class="inline">h1</code> with&nbsp;<em>Hello</em> followed by the target variable. <em>Note: We encode the target variable to secure the URL parameter argument from malicious code.</em></p>
                            <p>If you visit the url,&nbsp;<a href="http://localhost:8888/hello/web/site/say?target=Tuts%20Readers">http://localhost:8888/hello/web/site/say?target=Tuts%20Readers</a>, you should see this:</p>
                            <figure class="post_image"><img alt="Hello Tuts Readers" data-src="https://cms-assets.tutsplus.com/uploads/users/317/posts/22440/image/hello-tuts.jpg" class="loaded" src="https://cms-assets.tutsplus.com/uploads/users/317/posts/22440/image/hello-tuts.jpg" data-was-processed="true"></figure>
                            <p>That's a very basic example of the Yii2 Model View Controller.&nbsp;You can&nbsp;read through a more thorough description of the Hello World demonstration and Yii2&nbsp;MVC&nbsp;<a href="http://www.yiiframework.com/doc-2.0/guide-start-hello.html" target="_self">here</a>.</p>
                            <p>Now, let's set up our application with GitHub and deploy it to a production server.&nbsp;<br></p>
                            <h2 class="nolinks">Setting Up Your Remote Hosting Environment</h2>
                            <p>The basic Yii application should run fine out of the box with&nbsp;<a href="http://httpd.apache.org/">Apache</a>&nbsp;or an&nbsp;<a href="http://nginx.org/">Nginx</a>, I'll provide instructions for Apache and&nbsp;you can find instructions for <a href="http://www.yiiframework.com/doc-2.0/guide-start-installation.html" target="_self">Nginx here</a>.<br></p>
                            <h3 class="nolinks">Create a Repository at GitHub</h3>
                            <p>Once I set up a Yii application template, I <a href="https://github.com/new" target="_self">create a repository at Github</a>:</p>
                            <figure class="post_image"><img alt="Create a New Repository at Github" data-src="https://cms-assets.tutsplus.com/uploads/users/317/posts/22440/image/create-repository.jpg" class="loaded" src="https://cms-assets.tutsplus.com/uploads/users/317/posts/22440/image/create-repository.jpg" data-was-processed="true"></figure>
                            <p><em><strong>Note:</strong> It's a bit simpler initially to copy and paste&nbsp;the </em><a href="https://github.com/yiisoft/yii2/blob/master/.gitignore" target="_self"><em>Yii2 .gitignore from GitHub</em></a><em> to your local ~/Sites/hello/.gitignore file rather than create the site with it remotely and have to merge it locally, but either approach is fine.</em></p>
                            <p>I've been using the <a href="https://mac.github.com/" target="_self">Mac OS X GitHub app</a>&nbsp;more frequently but you can also use the command line to initialize the repository. Below,&nbsp;I'm following the instructions for <a href="https://help.github.com/articles/adding-an-existing-project-to-github-using-the-command-line" target="_self">adding an existing project to GitHub using the command line</a>&nbsp;(replace "youraccount" with your GitHub account name):</p>
                            <div>
                                <div id="highlighter_653059" class="syntaxhighlighter plain nolinks">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="gutter">
                                                <div class="line number1 index0 alt2">1</div>
                                                <div class="line number2 index1 alt1">2</div>
                                                <div class="line number3 index2 alt2">3</div>
                                                <div class="line number4 index3 alt1">4</div>
                                                <div class="line number5 index4 alt2">5</div>
                                            </td>
                                            <td class="code">
                                                <div class="container">
                                                    <div class="line number1 index0 alt2"><code class="plain plain">cd ~/Sites/hello</code></div>
                                                    <div class="line number2 index1 alt1"><code class="plain plain">git init</code></div>
                                                    <div class="line number3 index2 alt2"><code class="plain plain">git commit -m "first commit of hello world for yii2"</code></div>
                                                    <div class="line number4 index3 alt1"><code class="plain plain">git remote add origin git@github.com:youraccount/hello.git</code></div>
                                                    <div class="line number5 index4 alt2"><code class="plain plain">git push -u origin master</code></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h3 class="nolinks">Configure an Apache Site on Your Server</h3>
                            <p>If you don't already have a LAMP server or cloud instance,&nbsp;<a href="http://jeffreifman.com/digitalocean" target="_self">follow my generic Ubuntu installation instructions</a>&nbsp;to get started. Once you have your IP address, modify your DNS records to have an A record&nbsp;point to your server.&nbsp;</p>
                            <div>
                                <div id="highlighter_5479" class="syntaxhighlighter bash nolinks">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="gutter">
                                                <div class="line number1 index0 alt2">1</div>
                                            </td>
                                            <td class="code">
                                                <div class="container">
                                                    <div class="line number1 index0 alt2"><code class="bash plain">yourdomain.com A 192.161.234.17</code></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>Then, log in to your server either via IP address or domain name:</p>
                            <div>
                                <div id="highlighter_273771" class="syntaxhighlighter bash nolinks">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="gutter">
                                                <div class="line number1 index0 alt2">1</div>
                                            </td>
                                            <td class="code">
                                                <div class="container">
                                                    <div class="line number1 index0 alt2"><code class="bash functions">ssh</code> <code class="bash plain">root@yourserver.com</code></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>Update the configuration, install Git, enable <code class="inline">mod_rewrite</code> for Apache and <code class="inline">mcrypt</code> for PHP:</p>
                            <div>
                                <div id="highlighter_852330" class="syntaxhighlighter bash nolinks">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="gutter">
                                                <div class="line number1 index0 alt2">1</div>
                                                <div class="line number2 index1 alt1">2</div>
                                                <div class="line number3 index2 alt2">3</div>
                                                <div class="line number4 index3 alt1">4</div>
                                            </td>
                                            <td class="code">
                                                <div class="container">
                                                    <div class="line number1 index0 alt2"><code class="bash functions">sudo</code> <code class="bash plain">apt-get update</code></div>
                                                    <div class="line number2 index1 alt1"><code class="bash functions">sudo</code> <code class="bash plain">apt-get upgrade</code></div>
                                                    <div class="line number3 index2 alt2"><code class="bash functions">sudo</code> <code class="bash plain">a2enmod rewrite</code></div>
                                                    <div class="line number4 index3 alt1"><code class="bash plain">php5enmod mcrypt</code></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h3 class="nolinks">Configure GitHub Access on the Remote Server</h3>
                            <p>Now, we'll set up a user for pulling code from Github that can be served by Apache. First, install git on your server.</p>
                            <div>
                                <div id="highlighter_751689" class="syntaxhighlighter bash nolinks">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="gutter">
                                                <div class="line number1 index0 alt2">1</div>
                                            </td>
                                            <td class="code">
                                                <div class="container">
                                                    <div class="line number1 index0 alt2"><code class="bash functions">sudo</code> <code class="bash plain">apt-get</code><code class="bash functions">install</code> <code class="bash plain">git</code></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>Then, we'll create a group for www, add www-data and GitHub users to it and grant it&nbsp;ownership of our web directories.<br></p>
                            <div>
                                <div id="highlighter_521737" class="syntaxhighlighter bash nolinks">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="gutter">
                                                <div class="line number1 index0 alt2">1</div>
                                                <div class="line number2 index1 alt1">2</div>
                                                <div class="line number3 index2 alt2">3</div>
                                                <div class="line number4 index3 alt1">4</div>
                                                <div class="line number5 index4 alt2">5</div>
                                                <div class="line number6 index5 alt1">6</div>
                                                <div class="line number7 index6 alt2">7</div>
                                            </td>
                                            <td class="code">
                                                <div class="container">
                                                    <div class="line number1 index0 alt2"><code class="bash plain">adduser github</code></div>
                                                    <div class="line number2 index1 alt1"><code class="bash plain">addgroup www</code></div>
                                                    <div class="line number3 index2 alt2"><code class="bash plain">adduser github www</code></div>
                                                    <div class="line number4 index3 alt1"><code class="bash plain">adduser www-data www</code></div>
                                                    <div class="line number5 index4 alt2"><code class="bash functions">chown</code> <code class="bash plain">-R :www</code><code class="bash plain">/var/www</code></div>
                                                    <div class="line number6 index5 alt1"><code class="bash functions">chmod</code> <code class="bash plain">+s -R</code><code class="bash plain">/var/www</code></div>
                                                    <div class="line number7 index6 alt2"><code class="bash functions">chmod</code> <code class="bash plain">-vR g+w</code><code class="bash plain">/var/www/</code></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>Next, we create a key for the user that we share with GitHub for keeping code in sync:</p>
                            <div>
                                <div id="highlighter_705357" class="syntaxhighlighter bash nolinks">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="gutter">
                                                <div class="line number1 index0 alt2">1</div>
                                                <div class="line number2 index1 alt1">2</div>
                                                <div class="line number3 index2 alt2">3</div>
                                                <div class="line number4 index3 alt1">4</div>
                                            </td>
                                            <td class="code">
                                                <div class="container">
                                                    <div class="line number1 index0 alt2"><code class="bash functions">su</code> <code class="bash plain">github</code></div>
                                                    <div class="line number2 index1 alt1"><code class="bash functions">ssh</code><code class="bash plain">-keygen -t rsa -C</code><code class="bash string">"yourgithubaccount@youremail.com"</code></div>
                                                    <div class="line number3 index2 alt2"><code class="bash functions">exit</code></div>
                                                    <div class="line number4 index3 alt1"><code class="bash functions">cat</code> <code class="bash plain">/home/github/</code><code class="bash plain">.</code><code class="bash functions">ssh</code><code class="bash plain">/id_rsa</code><code class="bash plain">.pub</code></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>You'll see something like this, which you need to copy and paste to GitHub.com:</p>
                            <figure class="post_image"><img alt="Your Github Key" data-src="https://cms-assets.tutsplus.com/uploads/users/317/posts/22440/image/cat-key.jpg" class="loaded" src="https://cms-assets.tutsplus.com/uploads/users/317/posts/22440/image/cat-key.jpg" data-was-processed="true"></figure>
                            <p>Visit the Settings page for your GitH soundub repository under keys, and add this key to your repository:</p>
                            <figure class="post_image"><img alt="" data-src="https://cms-assets.tutsplus.com/uploads/users/317/posts/22440/image/add-key-github.jpg" class="loaded" src="https://cms-assets.tutsplus.com/uploads/users/317/posts/22440/image/add-key-github.jpg" data-was-processed="true"></figure>
                            <p>Once you add it, you'll see it listed here:</p>
                            <figure class="post_image"><img alt="" data-src="https://cms-assets.tutsplus.com/uploads/users/317/posts/22440/image/deploy-key-github.jpg" class="loaded" src="https://cms-assets.tutsplus.com/uploads/users/317/posts/22440/image/deploy-key-github.jpg" data-was-processed="true"></figure>
                            <p>Finally, you can clone the tree to your production server:</p>
                            <div>
                                <div id="highlighter_853473" class="syntaxhighlighter bash nolinks">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="gutter">
                                                <div class="line number1 index0 alt2">1</div>
                                            </td>
                                            <td class="code">
                                                <div class="container">
                                                    <div class="line number1 index0 alt2"><code class="bash plain">git clone git@github.com:youraccount</code><code class="bash plain">/hello</code><code class="bash plain">.git</code><code class="bash plain">/var/www/hello</code></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>If you're GitHub access is properly configured, it should look like this (if not, <a href="https://help.github.com/articles/error-permission-denied-publickey/" target="_self">review this</a>):</p>
                            <figure class="post_image"><img alt="Git Clone" data-src="https://cms-assets.tutsplus.com/uploads/users/317/posts/22440/image/git-clone.jpg" class="loaded" src="https://cms-assets.tutsplus.com/uploads/users/317/posts/22440/image/git-clone.jpg" data-was-processed="true"></figure>
                            <p>As you extend the codebase with this tutorial series and push updates from your local machine, you'll be able to sync them on your remote production server with git pull. This is simpler than pulling down a tarball or syncing code manually - and will become more useful as this tutorial series continues with later modules.</p>
                            <h3 class="nolinks">Create the Apache Site Configuration</h3>
                            <p>Create an Apache site configuration file:</p>
                            <div>
                                <div id="highlighter_393448" class="syntaxhighlighter bash nolinks">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="gutter">
                                                <div class="line number1 index0 alt2">1</div>
                                            </td>
                                            <td class="code">
                                                <div class="container">
                                                    <div class="line number1 index0 alt2"><code class="bash plain">nano</code><code class="bash plain">/etc/apache2/sites-available/hello</code><code class="bash plain">.conf</code></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>Customize this configuration for your domain name:</p>
                            <div>
                                <div id="highlighter_912164" class="syntaxhighlighter bash nolinks">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="gutter">
                                                <div class="line number1 index0 alt2">01</div>
                                                <div class="line number2 index1 alt1">02</div>
                                                <div class="line number3 index2 alt2">03</div>
                                                <div class="line number4 index3 alt1">04</div>
                                                <div class="line number5 index4 alt2">05</div>
                                                <div class="line number6 index5 alt1">06</div>
                                                <div class="line number7 index6 alt2">07</div>
                                                <div class="line number8 index7 alt1">08</div>
                                                <div class="line number9 index8 alt2">09</div>
                                                <div class="line number10 index9 alt1">10</div>
                                                <div class="line number11 index10 alt2">11</div>
                                                <div class="line number12 index11 alt1">12</div>
                                                <div class="line number13 index12 alt2">13</div>
                                                <div class="line number14 index13 alt1">14</div>
                                            </td>
                                            <td class="code">
                                                <div class="container">
                                                    <div class="line number1 index0 alt2"><code class="bash plain">&lt;VirtualHost *:80&gt;</code></div>
                                                    <div class="line number2 index1 alt1"><code class="bash spaces">&nbsp;</code><code class="bash plain">ServerName yourdomain.com</code></div>
                                                    <div class="line number3 index2 alt2"><code class="bash comments"># Set document root to be "basic/web"</code></div>
                                                    <div class="line number4 index3 alt1"><code class="bash plain">DocumentRoot</code><code class="bash string">"/var/www/hello/web"</code></div>
                                                    <div class="line number5 index4 alt2"><code class="bash plain">&lt;Directory</code><code class="bash string">"/var/www/hello/web"</code><code class="bash plain">&gt;</code></div>
                                                    <div class="line number6 index5 alt1"><code class="bash spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="bash comments"># use mod_rewrite for pretty URL support</code></div>
                                                    <div class="line number7 index6 alt2"><code class="bash spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="bash plain">RewriteEngine on</code></div>
                                                    <div class="line number8 index7 alt1"><code class="bash spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="bash comments"># If a directory or a file exists, use the request directly</code></div>
                                                    <div class="line number9 index8 alt2"><code class="bash spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="bash plain">RewriteCond %{REQUEST_FILENAME} !-f</code></div>
                                                    <div class="line number10 index9 alt1"><code class="bash spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="bash plain">RewriteCond %{REQUEST_FILENAME} !-d</code></div>
                                                    <div class="line number11 index10 alt2"><code class="bash spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="bash comments"># Otherwise forward the request to index.php</code></div>
                                                    <div class="line number12 index11 alt1"><code class="bash spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="bash plain">RewriteRule . index.php</code></div>
                                                    <div class="line number13 index12 alt2"><code class="bash plain">&lt;</code><code class="bash plain">/Directory</code><code class="bash plain">&gt;</code></div>
                                                    <div class="line number14 index13 alt1"><code class="bash plain">&lt;</code><code class="bash plain">/VirtualHost</code><code class="bash plain">&gt;</code></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>Enable your site:</p>
                            <div>
                                <div id="highlighter_464063" class="syntaxhighlighter bash nolinks">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="gutter">
                                                <div class="line number1 index0 alt2">1</div>
                                                <div class="line number2 index1 alt1">2</div>
                                                <div class="line number3 index2 alt2">3</div>
                                            </td>
                                            <td class="code">
                                                <div class="container">
                                                    <div class="line number1 index0 alt2"><code class="bash plain">a2ensite hello.conf</code></div>
                                                    <div class="line number2 index1 alt1"><code class="bash plain">a2dissite 000-default.conf</code></div>
                                                    <div class="line number3 index2 alt2"><code class="bash plain">service apache2 reload</code></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>Visit <a href="http://yourdomain.com/site/say?target=World!">http://yourdomain.com/site/say?target=World!</a>&nbsp;and you should&nbsp;see your application running on your domain without the Yii2 debug toolbar at the bottom like this:</p>
                            <figure class="post_image"><img alt="Production Server Hello World Application" data-src="https://cms-assets.tutsplus.com/uploads/users/317/posts/22440/image/helloworld.jpg" class="loaded" src="https://cms-assets.tutsplus.com/uploads/users/317/posts/22440/image/helloworld.jpg" data-was-processed="true"></figure>
                            <p>Congratulations! We're now ready to explore more sophisticated features in Yii2.&nbsp;If you'd like to know when the next Yii2 tutorial arrives,&nbsp;<a href="https://twitter.com/intent/user?screen_name=tutspluscode" target="_self">follow @tutspluscode</a>&nbsp;or&nbsp;<a href="https://twitter.com/intent/user?screen_name=reifman" target="_self">@reifman</a>&nbsp;on Twitter&nbsp;or&nbsp;<a href="http://tutsplus.com/authors/jeff-reifman" target="_self">check my author page</a>. My author page will include all the articles from this series as soon immediately after they are published.</p>
                            <p>If you have any questions or corrections on this tutorial, please post them in the comments.<br></p>



                        </div>
                    </div>
                </div>

            </div>
            <div class="layout__sidebar">
                <ul>
                    <li><a href="http://yiiframework.com" target="_self">Yii Framework Website</a></li>
                    <li><a href="http://code.tutsplus.com/articles/introduction-to-the-yii-framework--cms-20948" target="_self">Introduction to the Yii Framework (Tuts+)</a>&nbsp;</li>
                    <li><a href="http://jeffreifman.com/yii/tutorials/" target="_self">Other Free and Open Source&nbsp;Yii Programming Examples by the Author</a></li>
                    <li><a href="https://codecanyon.net/category/php-scripts" target="_self">Useful PHP scripts on Envato Market</a></li>
                </ul>
            </div>
        </article>
    </main>
</div>
</body>
</html>