<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>{{ title }} | Quality Case</title>
    <link rel="canonical" href="https://qualitycase.ru/">
    <link rel="stylesheet" href="/css/build.css">
  </head>

  <body>
    {% include 'menu.twig' %}
        <!-- Begin page content -->
        <main class="container">
    <div class="row">


      <div class="col-lg-8">
        <pre><code class="php">&lt;?php

require 'vendor/autoload.php';

use PhpOffice\PhpSpreadsheet\Spreadsheet;
use PhpOffice\PhpSpreadsheet\Writer\Xlsx;

//Создаем экземпляр класса электронной таблицы
$spreadsheet = new Spreadsheet();
//Получаем текущий активный лист
$sheet = $spreadsheet-&gt;getActiveSheet();
// Записываем в ячейку A1 данные
$sheet-&gt;setCellValue('A1', 'Hello my Friend!');

$writer = new Xlsx($spreadsheet);
//Сохраняем файл в текущей папке, в которой выполняется скрипт.
//Чтобы указать другую папку для сохранения.
//Прописываем полный путь до папки и указываем имя файла
$writer-&gt;save('hello.xlsx');
</code></pre>
        {% block content %}{% endblock %}

        <div class="addthis_inline_share_toolbox"></div>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="задачи по php для начинающих с решениями">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Найти</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/lessons/first-lesson-php">php урок 1</a>
                  </li>
                  <li>
                    <a href="/lessons/second-lesson-php">php урок 2</a>
                  </li>
                  <li>
                    <a href="/lessons/third-lesson-php">php урок 3</a>
                  </li>
                  <li>
                    <a href="/lessons/fourth-lesson-php">php урок 4</a>
                  </li>
                  <li>
                    <a href="/lessons/dependency_injection_php-lesson-php">Внедрение зависимостей в Php</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

<!--
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div>
-->
      </div>

    </div>
</main>

    <footer class="footer" style="background: #fff; text-align: center">
      <div class="container">
        <span class="text-muted">© Web-сайт "QualityCase.ru", 2020</span>
      </div>
    </footer>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116138745-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-116138745-1');
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d4becb398116811"></script>
    <script type="text/javascript" src="/js/build-min.js"></script>
  </body>
</html>
