<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="https://qualitycase.ru/"><span>Q</span>uality<span></span>C</span>ase</a> </h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/review">Отзывы</a>
        <a class="p-2 text-dark" href="/handbook">Справочник</a>
        <a class="p-2 text-dark" href="/tips">Подсказки</a>
        <a class="p-2 text-dark" href="/bookmarks">Закладки</a>
    </nav>
    <!--<a class="btn btn-outline-primary" href="#">Sign up</a>-->
</div>
