<li class="nav-item"><a class="nav-link" href="/review">Отзывы</a></li>
<li class="nav-item"><a class="nav-link" href="/handbook">Справочник</a></li>
<li class="nav-item"><a class="nav-link" href="/tips">Подсказки</a></li>
<li class="nav-item"><a class="nav-link" href="/bookmarks">Закладки</a></li>
